.sec-cuatro{
    display: flex;
    align-items: center;
    padding: 2rem 0 2rem 0;

}
.sec-cuatro {
    display: flex;
    gap: 7rem;
    align-items: center;
    justify-content: center;
}
.sec-cuatro .collage{
    width: 24rem;
}

.sec-mision h2{
    color: #487C46;
    font-size: 2rem;
}
.sec-mision span{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sec-mision{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.check{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sec-cinco{
    color: #487C46;
    font-size: 1.5rem;
    text-align: center;
    padding: 4rem 0 4rem 0;
}

.sec-cinco img{
    width: 100%;
}