* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-product img {
    width: 100%;
}

.category-product {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    gap: 52px;
}

.category {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    background-color: #487C46;
    padding: 10px 12px;
    cursor: pointer;
}

.category:hover {
    background-color: black;
}

.category a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.list-product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 61px;
    padding: 30px 40px;
}

.product p {
    color: #515151;
    font-size: 14px;
    margin-top: 5px;
}

.product h4 {
    color: #2F2F2F;
    font-size: 16px;
    margin-top: 5px;
}

.precio-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.precio-product p {
    color: #1D1D1D;
    font-size: 16px;
    font-weight: 600;
}

.add-product p{
    background-color: #487C46;
    color: white;
    font-size: 15px;
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
}

/*nav-bar*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-enlaces {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-enlaces a {
    text-decoration: none;
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 500;
}

.nav-iconos {
    display: flex;
    gap: 25px;
    align-items: center;
}

/*efecto nav-bar*/
/* Fondo del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 999;
}

/* Mostrar modal cuando es seleccionado */
.modal:target {
    display: block;
}

/* Contenedor del modal */
.modal-contenido {
    position: absolute;
    top: 60px;
    right: 60px;
    bottom: 60px;
    width: 554px;
    max-height: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -2px 0 15px rgba(85, 85, 85, 0.2);

    display: flex;
    flex-direction: column;
}

.modal-contenido h2{
    color: #151515;
    font-size: 18px;
}

/* Botón de cerrar */
.cerrar {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

/* Sección con scroll para productos */
.contenido-scroll {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
    padding-right: 10px;
}

/* Sección inferior fija */
.contenido-inferior {
    background-color: white;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
}

/* Total del carrito */
.total-carrito {
    text-align: right;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Botón del carrito */
.carrito-botom {
    background-color: #487C46;
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px 12px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Estilos del contenido del carrito */
.productos-carrito {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-añadido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
}

.product-insertado {
    display: flex;
    align-items: center;
    gap: 18px;
}

.product-insertado img {
    width: 100px;
}

.product-descrip p {
    color: #515151;
    font-size: 15px;
}

.product-descrip h3 {
    color: #2F2F2F;
    font-size: 17px;
    margin-top: 5px;
}

.product-precio {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.product-precio h3 {
    color: #1D1D1D;
    font-size: 18px;
}

.product-precio h4 {
    color: #000000;
    font-size: 17px;
}

.contador{
    border: none;
    font-size: 18px;
}
